.bg-head {
    background: #E8E8E8;
}
.bg-content {
    background-color: #FFFFFF;
}
.bg-area {
    background-color: #ecf5fa;
}
.font-cw {
    color: #FFFFFF;
}
.font-clb {
    color: #404040;
}
.font-cr {
    color: #DF002B;
}
/*color-blue*/
.myfont-cb {
    color: #003B90;
}
.myfont-clb {
    color: #2470e7;
}
.myfont-cgray {
    color: #CCCCCC;
}
/*color-gray*/

.myfont-cg {
    color: #949494;
}
.myfont-pos {
    width: 4.2em;
    text-align: right;
}
.myfont-wight900 {
    font-weight: 900;
}
.myfont-posm {
    text-align: center;
}
.myfont-s24 {
    font-family: "微软雅黑";
    font-size: 0.75em;
    line-height: 100%;
}
.myfont-s26 {
    font-family: "微软雅黑";
    font-size: 0.8125em;
    line-height: 120%;
}
.myfont-s28 {
    font-family: "微软雅黑";
    font-size: 0.875em;
    line-height: 100%;
}
.myfont-s30 {
    font-family: "微软雅黑";
    font-size: 0.9375em;
    line-height: 100%;
}
.myfont-s30s {
    font-family: "微软雅黑";
    font-size: 0.9375em;
}
.myfont-s32 {
    font-family: "微软雅黑";
    font-size: 1em;
    line-height: 100%;
}
.myfont-s34 {
    font-family: "微软雅黑";
    font-size: 1.0625em;
    line-height: 100%;
}
.myfont-s36 {
    font-family: "微软雅黑";
    font-size: 1.125em;
    line-height: 100%;
    font-weight: bold;
}
.myfont-s48 {
    font-family: "微软雅黑";
    font-size: 1.5em;
    line-height: 100%;
    font-weight: bold;
}
.myfont {
    font-family: "微软雅黑";
    font-size: 0.9375em;
    color: #003B90;
    line-height: 100%;
}
.myfont-bucket {
    font-family: "微软雅黑";
    font-size: 0.625em;
}
.myfont-newline {
    font-family: "微软雅黑";
    font-size: .75em;
    line-height: 1.5625em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0em 1em;
}
.list1 {
    height: 7.6875em;
    line-height: 7.6875em;
}
.list2 {
    height: 3.125em;
    line-height: 3.125em;
}
.list3 {
    height: 1.5625em;
    width: 5em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #00de00;
}
.list4 {
    height: 1.5625em;
    width: 5em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #DF002B;
}
.list5 {
    height: 2.5em;
    line-height: 2.5em;
    width: 95%;
}
.list6 {
    height: 6em;
    /*background-color: #FFF;*/
}
.list7 {
    height: 3.25em;
    line-height: 3.25em;
    /*-webkit-border-radius: 5px;
     border-radius: 5px;*/
    /*background-color: #FFF;*/
}
.list8 {
    height: 4.5em;
}
.list-uua {
    font-size: 1.2em;
    height: 2em;
    line-height: 2em;
}
.list-uua1 {
    height: 1em;
    line-height: 1.5em;
}
.list-BIH {
    height: 2.5em;
    line-height: 2.5em;
}
.list-BIC {
    height: 4.875em;
    /*line-height: 2.125em;*/
}
.pad-mar-topbtm {
    margin: 1em 0em 0.75em 0em;
}
.pad-mar-btmtop {
    margin: 0.625em 0em 1em 0em;
}
.pad-mar-btm {
    margin-bottom: 0.625em;
}
.pad-mar-btm1 {
    margin-bottom: 0.3125em;
}
.pad-mar-btm2 {
    margin-bottom: 0.1875em;
}
.pad-mar-btm3 {
    margin-bottom: 0.875em;
}
.pad-mar-side {
    margin-left: .5em;
    margin-right: .5em;
}
.pad-mar-list1 {
    margin: 0.625em 0.46875em;
    padding: 1.25em 1em;
}
.pad-mar-list2 {
    padding-bottom: 0.4375em;
}
.pad-mar-list3 {
    margin: 0em 0.5em 0.3125em 0.5em;
    /*padding: 1em 1.3125em;*/
}
.pad-mar-list4 {
    margin-bottom: .1875em;
}
.pad-mar-list5 {
    margin: 0em .5em;
}
.pad-mar-list6 {
    padding: .75em 1.3125em;
    /*padding: .8125em 1.3125em;*/
}
.pad-mar-list7 {
    margin: 0em 0em .625em 0em;
}

.pad-mar-list8 {
    padding: 0.625em 1.25em;
}

.pad-mar-list9 {
    margin: 0em 0.5em 0em 0em;
}
.pad-mar-list10 {
    margin: 0em .25em;
}
.pad-mar-list11 {
    margin-left: .875em;
    margin-right: .875em;
}
.pad-1101 {
    padding: .5em .5em 0em .5em
}
.pad-1111 {
    padding: .5em;
}
.pad-0101-75 {
    padding: 0em 0.75em;
}
.mar-1101 {
    margin: .5em .5em 0em .5em
}
.mar-1111 {
    margin: .5em;
}
/*.mar-1212{
 margin: 2.5em 1.125em;
 }
 .mar-1212-s{
 margin: 0.9375em 3em;
 }*/
.mar-0101 {
    margin: 0em 1em 0em 1em
}
.mar-1111-1 {
    margin: 1em;
    width: 90%
}
.icon-tel {
    width: 0.8125em;
    height: 1.375em;
    margin-right: 0.75em;
    background: url('img/手机.svg') no-repeat center center;
    background-size: 150%;
}
.icon-client {
    width: 7.5em;
    height: 3.5em;
    /*margin-right:0.75em;*/
    background: url('img/交易客户BG.png') no-repeat center center;
    background-size: 100%;
}
.icon-apv {
    width: 1.1875em;
    height: 1.1875em;
    /*margin-right:0.75em;*/
    background: url('img/approval_s.png') no-repeat center center;
    background-size: 100%;
    margin-right: 0.5625em;
}
.icon-pieI {
    width: 8.75em;
    height: 8.75em;
    background: url('img/pieI.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
    /*margin-right: 0.5625em;*/
}
.icon-pieII {
    width: 5.25em;
    height: 5.25em;
    /*margin-right:0.75em;*/
    background: url('img/pieII.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
    /*margin-right: 0.5625em;*/
}
.icon-employee-2x {
    width: 3.125em;
    height: 2.375em;
    background: url('img/employee_2x.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}
.icon-manhour-2x {
    width: 3.125em;
    height: 2.875em;
    background: url('img/manhour_2x.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}
.icon-pay-2x {
    width: 2.75em;
    height: 2.5em;
    background: url('img/pay_2x.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}
.icon-tax-2x {
    width: 3.125em;
    height: 2.5em;
    background: url('img/tax_2x.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}
.icon-repertory-2x {
    width: 6em;
    height: 6em;
    background: url('img/repertory_2x.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}
.icon-border-2x {
    width: 8.75em;
    height: 3.375em;
    background: url('img/border_2x.png') no-repeat center center;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}
.icon-trenderup-2x {
    width: 1.3125em;
    height: 1.3125em;
    background: url('img/trenderup_2x.png') no-repeat center center;
    background-size: 100%;
}
.icon-trenderdown-2x {
    width: 1.3125em;
    height: 1.3125em;
    background: url('img/trenderdown_2x.png') no-repeat center center;
    background-size: 100%;
}
.demon-btn {
    width: 4.375em;
    height: 1.5625em;
    line-height: 1.5625em;
    background-color: #eef9ff;
    border-color: #f0f0f0;
    display: block;
    margin: 0 auto;
}
.tc-dark {
    color: #E8E8E8;
}
.ub-list {
    border-bottom: 1px solid #E8E8E8;
    /*height: 3.125em; */
}
.ub-all {
    border: 1px solid #e3e3e3;
    /*height: 3.125em; */
}
.ub-ampm {
    border: 2px solid #2465c1;
}
.ub-ampm-w {
    border: 2px solid #FFFFFF;
}
.pos-rel {
    position: relative;
    top: 1em;
    left: 2.65em;
}
.pos-rel1 {
    position: absolute;
    top: 68%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color: #949494;
}
.ip-limit {
    width: 10em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bucket-btn {
    width: 4.0625em;
    height: 2.8em;
    line-height: 2.8em;
    /*width: 4.0625em;
     height: 1.5625em;
     line-height: 2.8em;*/
    margin-left: .5em;
}
.uc-wz {
    color: #949494;
}
.uw-cc {
    font-size: 1.125em;/*36px*/
}
.resultInner{
    width: 100%;
    height: 14em;
    box-sizing: border-box;
}
